<configuration>
    <timestamp key="bySecond" datePattern="yyyy-MM-dd_HHmmss"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>../logs/app-${bySecond}.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%-4level] %d{yyyy/MM/dd HH:mm:ss.SSS} [%.13thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>